body {
  background: #0d0b0e;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

root {
  max-width: 1920px;
  margin: 0 auto;
}

section {
  padding: 45px 32px;
}

.title {
  width: 20%;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}

.wrapper {
  display: flex;
}
.wrapper-podcasts {
  display: flex;
  max-width: 1540px;
  margin: 0 auto;
}

.section-light {
  background: #fff;
  color: #000;
}

.section-dark {
  background: #0d0b0e;
  color: #fff;
}

p {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 0;
}

nav {
  display: flex;
  justify-content: space-between;
  color: #f1e0cb;
  align-items: center;
}
nav .logo {
  width: 60px;
  height: 60px;
}
nav a {
  color: #f1e0cb;
  text-decoration: none;
}
nav a:hover {
  text-decoration: underline;
}
nav .menu {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
nav .menu,
nav .bmw-in-yourcountry {
  padding: 42px 32px;
  position: relative;
}
nav .bmw-in-yourcountry img {
  position: absolute;
  left: 0;
  bottom: 42px;
}
nav .bmw-in-yourcountry a:hover {
  text-decoration: underline;
}

.section-presentation {
  padding: 0;
}
.section-presentation .container-slider {
  display: flex;
  color: #f1e0cb;
  flex-wrap: nowrap;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
.section-presentation .container-slider .header-container-description {
  align-self: center;
}
.section-presentation .container-slider .header-container-description .header-description {
  margin: 0;
  padding: 5px;
  font-size: 20px;
  font-weight: 400;
}
.section-presentation .container-slider .header-container-description h1 {
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 30px;
}
.section-presentation .container-slider .header-container-description .header-link {
  color: #fff;
  text-decoration: none;
  background-color: #ff595a;
  padding: 10px 30px;
  transition: background-color 0.2s;
  font-weight: 700;
}
.section-presentation .container-slider .header-container-description .header-link:hover {
  background-color: #c70039;
  transition: background-color 0.2s;
}

.who-we-are {
  background: #fff;
  color: #000;
  display: flex;
  padding-bottom: 0;
}
.who-we-are-description {
  width: 35%;
  color: #214b64;
}
.who-we-are-description h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 24px;
  line-height: 30px;
  color: #000;
}
.who-we-are-description p:last-child {
  margin-bottom: 0;
}
.who-we-are-img {
  align-self: flex-end;
  margin-bottom: -3px;
  width: 45%;
  max-width: 960px;
}

.section-sheer-driving-pleasure {
  text-align: center;
  padding: 15px 0;
}
.section-sheer-driving-pleasure p {
  font-size: 20px;
  font-weight: bold;
  line-height: 30px;
}

.section-models .title {
  min-width: 215px;
}
.section-models .models {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 85%;
  background: #fff;
}
.section-models .models-item {
  background: #f1e0cb;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: calc(33.3333333333% - 40px);
  min-width: 235px;
  height: 380px;
}
.section-models .models-item .price {
  position: absolute;
  top: 24px;
  left: 24px;
  line-height: 21px;
  font-size: 14px;
}
.section-models .models-item .new {
  padding: 3px 15px;
  position: absolute;
  top: 24px;
  right: 24px;
  background: #ff595a;
  font-weight: bold;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 15px;
  color: #fff;
}
.section-models .models-item img {
  width: 100%;
  height: auto;
  align-self: flex-end;
  text-align: center;
}
.section-models .models-item h3 {
  font-size: 20px;
  padding-left: 24px;
  font-weight: bold;
}
.section-models .models-item p {
  padding: 24px;
  font-size: 12px;
  color: #214b64;
  line-height: 18px;
}/*# sourceMappingURL=styles.css.map */